<h1>StaticPages#help</h1>
<p>
Get help on the Rails tutorial on the
<a href="https://railstutorial.jp/help">Help page</a>.
To get help on this sample app, see the
<a href="https://railstutorial.jp/#ebook"><em>Rails tutorial</em></a>.
</p>
